<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>@Model[0].CityName Entries</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
		<h1 class="display-1 text-center">@Model[0].CityName</h1>
		@for (int i = 0; i < @Model.Count; i++)
		{
			<ul>
				<li>Stayed @Model[i].DaysStayed days</li>
				<li>Journal Entry:</li>
			</ul>
			<p>@Model[i].JournalEntry</p>
		}
    <a href="/diary"><button class="btn btn-primary">All Entries</button></a>
	</body>
</html>